<div id="navDiv">
    <%- include('../header.ejs') %>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new restaurant!</h1>

    <form action=“/portland” method=“POST”>
    <label for=“city”> City:</label>
    <input type=“text” name=“title” id=“title”> 
    <br>
    <label for=“restaurant”> Restaurant name:</label>
        <input type=“text” name=“restaurant” id=“restaurant”>
    <br>
    <label for=“cuisine”> Cuisine:</label>
        <input type=“text” name=“cuisine” id=“cuisine”>
    <br>
    <label for=“review”> Review:</label>
        <input type=“text” name=“review” id=“review”>
    <br>
    <label for=“priceRange”> Price:</label>
        <input type=“number” name=“priceRange” id=“priceRange”>
    <br>
    <label for=“weblink”> Web Link:</label>
        <input type=“text” name=“webLink” id=“webLink”>
    <br>
    <label for=“menuItemOne”> Menu Item:</label>
        <input type=“text” name=“menuItemOne” id=“menuItemOne”>
    <br>
    <label for=“menuItemTwo”> Menu Item:</label>
        <input type=“text” name=“menuItemTwo” id=“menuItemTwo”>
    <br>
     <label for=“menuItemThree”> Menu Item:</label>
        <input type=“text” name=“menuItemThree” id=“menuItemThree”>
    <br>
    <label for=“imageOne”> Menu Item:</label>
        <input type=“text” name=“imageOne” id=“imageOne”>
    <br>
    <label for=“imageTwo”> Menu Item:</label>
        <input type=“text” name=“imageTwo” id=“imageTwo”>
    <br>
    <label for=“imageThree”> Menu Item:</label>
        <input type=“text” name=“imageThree” id=“imageThree”>
    <br>
    

</body>
</html>