<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/"><button>Home</button></a>
        <a href="/Portland"><button>Portland</button></a>
        <a href=""><button>New York</button></a>
        <a href=""><button>Manassas</button></a>
    </nav>
    
</body>
</html>