<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <nav id="navDiv">
        <a href="/Portland/"><button class="navButtons">Portland</button></a>
        <a href=""><button class="navButtons">New York</button></a>
        <a href=""><button class="navButtons">New Orleans</button></a>
        </nav>
    </div>

    <div id="welcomeDiv">
        <h1>Welcome to Foodies Favorite's!</h1>
    </div>

    <div id="descriptionDiv">
        <h3>Enjoy searching through restaurant recommendations contributed by some of the city's hottest food influencers!</h3>
    </div>

    <div id="startDiv">
        <h2>Click a city above to start!</h2>
    </div>

    <div class="infoDiv">
        <div id="influencerList">
            <h4>List of foodie influencers</h4>
    </div>

        <div id="userReviews">
            <h4>Some user reviews here </h4>
        </div>
    </div>
    
    <div id="logInDiv">
        <a href=""><button id="logIn">Add a restaurant!</button></a>
    </div>

</body>
</html>