<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Name</title>
</head>
<body>
    <h1>Restaurant Name</h1>
    <div class="blurb">
        <p>This is some kind of blurbie about the restaurant</p>
    </div>
    <div class="info">
        <ul>
            <li>address</li>
            <li>phone number</li>
            <li>link to restaurant website</li>
        </ul>
    </div>
    <div class="menu-items">
        <ul class="item">
            <li>popular item 1</li>
            <li>popular item 2</li>
            <li>popular item 3</li>
        </ul>
    </div>
</body>
</html>