body {
    background-image: url("../Images/newOrleans.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#navDiv {
    border: 3px #fdb604 solid;
    padding: 8px;
    border-radius: 10px;
}

#welcomeDiv{
    border: 3px #fdb604 solid;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Rye', cursive;
    color: whitesmoke;
    margin-top:  1%;
}

#formDiv {
    border: 5px #fdb604 solid;
    padding: 8px;
    border-radius: 10px;
    margin-top:  15%;
    font-family: 'Gruppo', cursive;
    text-align: center;
    padding: 9%;
    font-size: 175%;
    
    
}

label {
    color: whitesmoke;
}

form {
    
}

input {
    border: #047648 solid 1px;
    font-size: 80%;
    width: 250px;
    text-align: center;
    outline: none;
    /* background-color: transparent; */
    
}

input:focus {
    border: 3px solid #fdb604;
  }

#select {
    /* color: #4a2a2a; */
    font-family: 'Gruppo', cursive;
    font-size: 80%;
    text-align: center;
    /* background-color: transparent; */
    color: #047648;
    outline: none;
}

#select:focus {
    border: 3px solid #fdb604;
  }

::placeholder {
    /* color: #4a2a2a; */
    font-family: 'Gruppo', cursive;
    color: #ae087f;
}

#finalNewRestaurantButton {
    font-size: 25px;
    font-family: 'Gruppo', cursive;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #047648;
    width: 80%;
    border: #ae087f solid 1px;
}

#finalnewRestaurantButton:hover {
    background-color: #bfc5df;
    color: black;
    box-shadow: 0 12px 16px 0 whitesmoke;
  }
  