body {
    background-image: url("../Images/newOrleans.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
}

#navDiv {
    border: 3px #fdb604 solid;
    padding: 8px;
    border-radius: 10px;
}

#cityName {
    color: #fdb604;
    display: flex;
    justify-content: center;
    font-family: 'Rye', cursive;
  }

 #restaurantList {
    color: black;
    font-weight: 800;
    font-family: 'Gruppo', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Gruppo', cursive;
    border: 5px #fdb604 solid;
    border-radius: 10px;
  }

  #addRestaurantButton {
    font-size: 25px;
    font-family: 'Gruppo', cursive;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #047648;
  }

  #addRestaurantButton:hover {
    background-color: #bfc5df;
    color: black;
    box-shadow: 0 12px 16px 0 whitesmoke;
  }

  #addRestaurant {
    border: 3px #fdb604 solid;
    padding: 8px;
    border-radius: 10px;
  }

  #restaurantButton {
    font-size: 25px;
    font-family: 'Gruppo', cursive;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5%;
    border-radius: 5px;
    color: #ae087f;
  }

  #RestaurantButton:hover {
    background-color: #bfc5df;
    color: black;
    box-shadow: 0 12px 16px 0 whitesmoke;
  }
  