body {
    background-image: url("./Images/portland.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    /* justify-content: space-around; */
}

#navDiv {
    /* background-color: black; */
}



  #cityName {
    color: whitesmoke;
    /* background-color: orange; */
    padding-top: 75%;
    padding-bottom: 30%;
    padding-left: 15%;
    font-family: 'Rye', cursive;
  }

  #restaurantList {
    color: eb2f68;
    /* background-color: #eb2f68; */
    font-family: 'Gruppo', cursive;
  }