<div id="navDiv">
    <%- include('../header.ejs') %>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/newyork/newYork.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>

        <div id="cityName">
            <h1>Brooklyn, New York</h1>
        </div>

        <div id="restaurantList">
            <h1>Popular Brooklyn Restaurants</h1>
            <% for(let i = 0; i < newyork.length; i++) { %>
                <a href="/newyork/<%= newyork[i]._id %>">
                    <button id="restaurantButton"><%= newyork[i].restaurant %></button>
                </a>
            <% } %>
        </div>

    </div>
    <div id="addRestaurant">
        <a href="/newyork/new"><button id="addRestaurantButton">Add a restaurant!</button></a>
    </div>
    <a href="/newYork/seed/">Seed Route Test</a>

</body>
</html>